@model IEnumerable<Biblioteka.Domain.Dto.NaslovDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Naslovi</h1>

<p>
    <a asp-action="Create">Kreiraj novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jezik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                Cena po danu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jezik.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaPoDanu)
            </td>
            <td>
                @Html.ActionLink("Azuriraj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Obrisi", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
